@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Lato";
}

header {
  padding: 18px 0;
  background: #222222;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav__menu {
  display: flex;
  gap: 33px;
  align-items: center;
}

.banner {
  background: #f1e4e6;
}

.banner__wrapper {
  display: flex;
  gap: 63px;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

.banner__text {
  border-left-style: solid;
  border-color: #f16d7f;
  border-left-width: 12px;
  max-width: 377px;
  padding-left: 16px;
}

.banner__text h1 {
  font-size: 48px;
  font-weight: 900px;
  color: #222222;
}

.banner__text h2 {
  font-size: 32px;
  font-weight: 700px;
  color: #222222;
}

.banner-end {
  color: #f16d7f;
}

.hot-offer__cards {
  margin: 65px auto 96px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.hot-offer-card-1 {
  background-image: url("./img/hot-image1.png");
  width: 360px;
  height: 260px;
}

.hot-offer-card-2 {
  background-image: url("./img/hot-image2.png");
  width: 360px;
  height: 260px;
}

.hot-offer-card-3 {
  background-image: url("./img/hot-image3.png");
  width: 360px;
  height: 260px;
}

.hot-offer-card-4 {
  background-image: url("./img/hot-image4.png");
  width: 1140px;
  height: 180px;
  grid-column: span 3;
}

.hot-offer-card__bkground {
  background-color: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hot-offer__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hot-offer__text h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.hot-offer__text h3 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}

.hot-offer-card__wrapper.big {
  grid-column: span 3;
}

.products__list {
}

.products__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 6px;
  padding: 0 0 47px;
}

.products__title h2 {
  color: #222;
  font-size: 30px;
  font-weight: 400;
}

.products__title p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
}

.products-cards__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.product-card {
}

.product__info {
  background: #f8f8f8;
  padding: 24px 28px 20px 16px;
}

.product__title {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 13px;
}

.product__dex {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 18px;
}

.product__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
}

.products__btn {
  display: flex;
  color: #f26376;
  background: none;
  font-size: 16px;
  font-weight: 400;
  border-style: solid;
  border-width: 1px;
  border-color: #ff6a6a;
  padding: 15px 40px;
  margin: 48px auto 60px;
  cursor: pointer;
}

@media (max-width: 1140px) and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .nav__menu {
    gap: 0px;
  }

  .nav-menu__menu {
    margin-right: 33px;
  }

  .nav-menu__reg {
    margin-right: 42px;
  }

  .banner__wrapper {
    gap: 39px;
    max-width: 770px;
  }

  .banner__wrapper img {
    width: 386px;
    height: 368px;
  }

  .banner__text {
    max-width: 311px;
  }

  .banner__text h1 {
    font-size: 44px;
  }

  .banner__text h2 {
    font-size: 24px;
  }

  .hot-offer__cards {
    margin: 65px auto 110px;
    gap: 20px;
  }

  .hot-offer-card-1 {
    width: 232px;
    height: 168px;
  }

  .hot-offer-card-2 {
    width: 232px;
    height: 168px;
  }

  .hot-offer-card-3 {
    width: 232px;
    height: 168px;
  }

  .hot-offer-card-4 {
    width: 736px;
    height: 116px;
  }

  .products__title {
    gap: 3px;
    padding: 0 0 72px;
  }

  .products-cards__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
  }

  .products__btn {
    margin: 32px auto 70px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .container {
    max-width: 360px;
  }

  header {
    padding: 18px 16px;
  }

  .nav__logo {
    gap: 41px;
  }

  .hidden {
    display: none;
  }

  .banner__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 363px;
    margin: 0 auto;
  }

  .banner__text {
    max-width: 263px;
  }

  .banner__text h1 {
    font-size: 38px;
  }

  .banner__text h2 {
    font-size: 20px;
  }

  .hot-offer__cards {
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  .hot-offer-card-1 {
    width: 343px;
    height: 248px;
  }

  .hot-offer-card-2 {
    width: 343px;
    height: 248px;
  }

  .hot-offer-card-3 {
    width: 343px;
    height: 248px;
  }

  .hot-offer-card-4 {
    width: 343px;
    height: 111px;
    background-position: center;
    background-size: cover;
  }

  .products__title {
    gap: 3px;
    padding: 0 0 65px;
  }

  .products-cards__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  .products__btn {
    margin: 40px auto 85px;
  }
}
